certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==38.0.4
idna==3.6
importlib_metadata==7.1.0
jaraco.classes==3.4.0
jaraco.context==4.3.0
jaraco.functools==4.0.0
keyring==25.1.0
more-itertools==10.2.0
pycparser==2.21
PyJWT==2.4.0
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0.1
requests==2.31.0
umapi-client==3.0.1
urllib3==2.2.1
zipp==3.18.1
